PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:8080
CORS_ORIGINS=http://localhost:8080,http://localhost:8081
MONGO_URI=
JWT_SECRET=idsdamddrahul5666
API_VERSION=v1
API_KEY=calendly_clone_secret_key
API_ENCRYPTION_KEY=calendly_clone_encryption_key_32
